*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: auto;
    background-color: rgb(43, 112, 173);
    overflow-x: hidden;

}
body a{
    text-decoration: none;
}

/* navigation bar  */
nav{
    display: inline-flex;
    justify-content: space-between;
    background-image: url(./image/snowpark-home-slider-background.jpg);
    width: 1520px;
    height: 60px;
    padding: 20px 230px 20px 250px;
    font-family: sans-serif;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 2;
}
nav a{
    text-decoration: none;
    color: white;
}
/* first section  */
#navfirst{
    display: inline-flex;
    list-style: none;
    margin-right: 150px;
}
#navfirst li{
    font-size: 14px;
    font-weight: 500;
    margin: 0 18px 0 18px;
}
#home-visited{
    color: #fbba02;
}
#navfirst li:hover{
    color: #fbba02;
}
/* last section  */
#navlast{
    display: inline-flex;
    list-style: none;
}
#navlast li{
    font-size: 14px;
    font-weight: 500;
    margin: 0 18px 0 17px;
}
#navlast li:hover{
    color: #fbba02;
}
#navlast #register-box{
    border: 1px solid white;
    background-image: linear-gradient(#ffc402,#ff0000);
    margin-top: -10px;
    padding:7px 16px 8px 16px;
    font-weight: 600;
}
#navlast #register-box:hover{
    color: white;
}
/* logo image  */
#navlogo{
    list-style-type: none;

}
#navlogo img{
    width: 35px;
    height: 35px;
}
.display{
    width: inherit;
    height: 868px;
    background-image: url(./image/slider_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.display img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* side scroll  */

#side-scroll{
    width: inherit;
    height: 620px;
    /* background:#021b5b; */
    display: inline-flex;
}
#side-scroll>img{
    height: 620px;
    width: 1520px;
}

.scroll-divition{
    width: 902px;
    height: 616px;
    background-color: blue;
    position: absolute;
}
.scroll-divition img{
    width: 902px;
    height: 616px;

}
#side-scroll #first{
    left: -38pc;
}
#side-scroll #second{
    left: 233pt;
}
#side-scroll #thired{
    right: -38pc;
}
/* background connection image  */

#background-images{
    width: inherit;
    height: 128px;
    width: inherit;
    overflow: hidden;
}
#background-images img{
    height: 128px;
    width: inherit;
    overflow: hidden;

}


/* services contact  */
#services{
    width: 1520px;
    height: 534px;
    background-color: #f6f6f6;
}

#services-sub {
        width: 1060px;
        height: 594px;
        background-color: #d0d0d0b3;
        position: relative;
        top: -118px;
        left: 250px;
        display: inline-flex;
}
#services-sub img{
    width: 478px;
    height: 478px;
    margin: 35px 50px;
}
#services-sub #user-form{
    width: 478px;
    height: 460px;


}
#services-sub #user-form h2{
    width: 401px;
    height: 84px;
    margin-top: 55px;
    font-size: 34px;
    color: rgb(0, 12, 121);
    font-family: sans-serif;
    font-weight: 600;
}
#services-sub #user-form p{
    width: 401px;
    height: 50px;
    margin-top: 45px;
    margin-bottom: 30px;
    color: rgb(5, 10, 76);
    font-size: 15px;
    font-family: sans-serif;
}
#services-sub #user-form form h3{
    font-size: 31px;
    font-family: sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
    color: green;
}
input[type="text"],input[type="submit"] {
    width: 402px;
    height: 34px;
    margin-bottom: 20px;
    border: 1px solid black;
   
    font-size: 20px;
    font-family: sans-serif;
}
input[type="text"]:focus{
    box-shadow: 2px 2px 10px 1px rgb(104 104 216);
}
input[type="submit"] {
    border-radius: 5px;
    background: #18cf36;
    font-size: 17px;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}
input[type="submit"]:hover{
    color: black;
}
/* career partener  */
#career-partenr{
    width: 1520px;
    height: 850px;
    background-color: #fff;
    
}
#career-main{
    margin: 0px 200px;
    height: inherit;
}
#career-main>img{
    width: 311px;
    height: 118px;
    position: relative;
    left: 405px;
}
#career-main p{
    color: #050a4c;
}
#career-main>img+p{
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
#career-main>img~h1{
    font-size: 55px;
    color: #000c81;
    text-align: center;
    font-weight: 600;
    line-height: 70px;
    margin-top: 10px;
    font-family: sans-serif;
}
#career-main h2 {
    color: #000c81;
    text-align: center;
    font-size: 33px;
    /* line-height: 40px; */
    font-family: sans-serif;
    margin-top: 15px;
}
#career-main h2+p+p {
    text-align: start;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 15px;
    letter-spacing: 0.4px;
}
#career-main h2+p {
    line-height: 22px;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 15px;
    text-align: justify;
}
#career-sub-main{
    position: relative;
    top: 50px;
    /* background-color: #000c81; */
    width: inherit;
    height: 300px;
}
.career-sub{
    display: block;
    width: inherit;
    height: 52px;
    background: blue;
    margin: 22px 0;
    border-radius: 3px;
    text-align: center;
    padding: 16px;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
}


/* about  */


#about{
    width: 1520px;
    height: 395px;
    background-color: #f6f6f6;

}
#about .aboutinfo{
    width: 1060px;
    height: 324px;
    position: relative;
    top: 30px;
    left: 200px;
    display: inline-flex;
    /* background-color: #fbba02; */
}
#about .aboutinfo .about{
    width: 244px;
    height: 289px;
    margin: 0 12px;

}
#about .aboutinfo .about img{
    /* margin: 20px 0 5px 75px;
    width: 64px;
    height: 64px; */
    margin: 10px 0px 0px 47px;
    width: 150px;
    height: 90px;
    padding: 0px 40px 23px;
}
#about .aboutinfo .about h4{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    color: #000c81;
}
#about .aboutinfo .about p{
    margin: 8px 2px 0px 10px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}
#about .aboutinfo .about img:hover {
    /* position: relative;
    top: -1px;
    width:64px;
    height: 64px;
    padding-bottom: 10px; */
    border-bottom: 3px solid green;
    transition: 0.2s;
}

/* footer  */ 


footer{
    width: 1520px;
    height: 747px;
    background-color: #021b5b;
    padding: 100px 0 120px 0;
    position: relative;
}
footer #percentage{
    width: 1060px;
    height: 95px;
    /* background-color: aqua; */
    margin: 0 0 0 180px;
    display: inline-flex;
    justify-content: space-between;
}
footer #percentage div{
    width: 400px;
    height: 95px;
    /* background-color: burlywood; */
    text-align: center;
    padding: 0 10px 0 10px;
}
footer #percentage div b{
    color: #0095eb;
    font-size: 50px;
    font-weight: 700;
    font-family: viga,arial,tahoma,sans-serif;
}
footer #percentage div h5{
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    font-family: sans-serif;
    width: 360px;
}
#positionup{
    position: relative;
    top: -80px;
}
#scopindia-logo{
    width: 695px;
    height: 146px;
    /* background-color: #ff0000; */
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-75%);
}
.isi{
    width: 1000px;
    height: 95px;
    position: relative;
    top: 100px;
    left: 225px;
    padding: 0 300px 0 390px;
}
#copyright{
    position: relative;
    top: 150px;
    text-align: center;
    color: #bbc2d5;
    font-size: 15px;
    line-height: 25px;
    font-family: sans-serif;
}
#copyright a{
    color: white;
    text-decoration: none;
}
#copyright a:hover{
    text-decoration: underline;
}